<div id="custom-overlay" [style.display]="splash ? 'flex': 'none'">
    <div class="flb">
      <div class="Aligner-item Aligner-item--top"></div>
      <img src="assets/imgs/easy.png">
      <div class="Aligner-item Aligner-item--bottom"></div>
    </div>
  </div>
  
<ion-header>
    <ion-navbar>
      <ion-title>
    welcome
      </ion-title>
    </ion-navbar>
  </ion-header>
  
<ion-content padding id="welcome">

    <img src="assets/imgs/easy.png" class="logo" />
    <h1>Welcome to EasyPark</h1>
    <div>the easiest way to find a spot parking </div>

    <button ion-button block class="marginTop" (click)="signup()">Signup</button>
    <button ion-button block id="loginButton" (click)="login()">Login</button>


</ion-content>