<!--
  Generated template for the ListePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>liste</ion-title>
  </ion-navbar>

</ion-header>



<ion-content padding>
  <ion-content>
    <div #map id="map"></div> 
  </ion-content>
  <ion-list>
    <ion-item>
      <ion-label (click)=versParkingV2()>Parking V2</ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-label (click)=versParkingEura()>Parking Euralille</ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-label (click)=versParkingCarre()>Parking Carrefour</ion-label>
    </ion-item>
  </ion-list>

</ion-content>