<ion-content padding>
  <ion-list>

    <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input type="text" [(ngModel)]="user.email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input type="password" [(ngModel)]="user.password"></ion-input>
    </ion-item>
    <button ion-button block id="loginButton" (click)="loginUser(user)">Login</button>
    <button ion-button id="logoutButton" (click)="logout()">Logout</button>

  </ion-list>
</ion-content>