<!--
  Generated template for the DirectionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>direction</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>

    <ion-item>
      <ion-label floating>Destisation</ion-label>
      <ion-input type="text" ([ngModel])="Destination"></ion-input>
    </ion-item>
    <button ion-button block (click)="calculateAndDisplayRoute()">Valider</button>
    <div id="map">

    </div>

  </ion-list>

</ion-content>