<ion-content padding>

  <ion-content padding>
    <ion-list>

      <ion-item>
        <ion-label floating>nom</ion-label>
        <ion-input type="text" [(ngModel)]="userRegister.nom"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Prenom</ion-label>
        <ion-input type="text" [(ngModel)]="userRegister.prenom"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input type="text" [(ngModel)]="userRegister.email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Confirmation de l'Email</ion-label>
        <ion-input type="text" [(ngModel)]="userRegister.email2"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input type="password" [(ngModel)]="userRegister.password"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Confirmation du Password</ion-label>
        <ion-input type="password" [(ngModel)]="userRegister.password2"></ion-input>
      </ion-item>

      <button ion-button block class="marginTop" (click)="signupRegister(userRegister)">Signup</button>
      <button ion-button id="logoutButton" (click)="logout()">Logout</button>

    </ion-list>
  </ion-content>

</ion-content>