<ion-header>
  <ion-navbar>
    <ion-title> EASYPARK</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button ion-button full (click)=versParking()>Choisissez votre parking</button>
  <h2>Welcome to Ionic!</h2>
  <button ion-button id="logoutButton" (click)="logout()">Logout</button>


</ion-content>